img{
    width: 300px;
    height: 250px;
    object-fit: cover;
}

#container{
    /* flexbox */
    /* display: flex;
    flex-wrap: wrap; */
    /* grid */
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}

/* move images according to the row */
#car1{
    grid-row: 1/3;
}

/* responsible for adjusting and adapting towards screen sizing */
@media(max-width: 768px){
    #container{
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
}
/* mobile view styling */
@media(max-width: 375px){
    #container{
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }
}

#lands:checked ~ div /*img*/.lands{
    display: none;
}

#port:checked ~ div /*img*/.port{
    display: none;
}

#arch:checked ~ div /*img*/.arch{
    display: none;
}

#all:checked ~ div /*img*/.all{
    display: block;
}
